h1,
h2 {
  font-family: Lato;
}

.editor-container {
  min-height: 100px;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.editor-container-items {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.editor-container-items .editor-container-item {
  padding: 5px 0 5px 0;
  background-color: yellow;
}
.editor-container .editor-container-items .text-input-wrapper {
}

.editor-container .editor-container-items .text-input-wrapper .text-input {
  border-radius: 5px;
  margin-left: 6px;
}
